
<div class="nav-bar">
  <app-nav-bar></app-nav-bar>
</div>
<div class="main-container">

  <div class="head" id="diet1">
    <h2 style="text-align: center; margin-top: 30px;
     margin-bottom: 30px;"> Fight Covid-19</h2>
  </div>

  <div class="main-container1">
    <div class="header"><h2>How to fight COVID-19 ?</h2></div>
    <p>Since there is no available vaccine yet , what we can do is to make our body ready to fight this virus if we are infected. How ? by strengthening our immune system. </p>

    <h5>So, What is Immune System ?</h5>


    <ul>
      <li>Immune system is the body’s multi-level defence network against potentially harmful bacteria, viruses and other organisms.</li>
      <li>Our immune system is capable of developing antibodies to fight off bugs, as well as capacity to remember what the best methods were to attack previous invaders so that a future exposure will be much less problematic.This is how immunity is built up and the basis of how vaccines work.</li>
    </ul>
    <p> Until a vaccine is available, our immune systems will need to adapt unaided to COVID-19.</p>
    <p>There are no scientifically proven direct links between lifestyle and enhanced immune function.But that doesn't mean the effects of lifestyle on the immune system aren't intriguing and shouldn't be studied. General healthy-living strategies are a good way to start giving your immune system the upper hand.</p>
    <h5>How to strengthen your Immune System ?</h5>
    <ul>
      <li> No Smoking</li>
      <li>Drinking little or no alcohol </li>
      <li>Sleeping well</li>
      <li>Eating a balanced diet </li>
      <li>Taking regular moderate exercise </li>
      <li>Maintaining a Healthy Weight ( You can know about this in our Body Analysis Page )</li>
      <li>Importantly reducing stress </li>
    </ul>
  </div>
  <div class="foods-container">

   <div class="header"> <h2>What Foods to Eat ?</h2></div>
     <p>Here are some Vitamins & Minerals You Need for a Healthy Immune System</p>

    <div class=" item-type">
    <h5>VITAMIN C</h5>
    <p>Most people turn to vitamin C after they've caught a cold. That’s because it helps build up your immune system.
      Vitamin C is thought to increase the production of white blood cells. These are key to fighting infections.</p>
      <div class="endTag">
        <p>To increase your vitamin C intake, add these foods to your diet.</p>
      </div>
        <ul>
      <li>Citrus fruits and juices </li>
      <ol>
        <li>oranges</li>
        <li>lemons</li>
        <li>tangerines</li>
        <li>grapefruit</li>
      </ol>
      <li>kiwi fruit</li>
      <li>red and green peppers</li>
      <li>broccoli</li>
      <li>strawberries</li>
    </ul>
    <table class="customers">
      <tr>
        <th>Category</th>
        <th>Male</th>
        <th>Female</th>
      </tr>
      <tr>
        <td>1-3 years</td>
        <td>15 mg</td>
        <td>15 mg</td>
      </tr>
      <tr>
        <td>4-8 years</td>
        <td>25 mg</td>
        <td>25 mg</td>
      </tr>
      <tr>
        <td>9-13 years</td>
        <td>45 mg</td>
        <td>45 mg</td>
      </tr>
      <tr>
        <td>Teens (14–18 years)</td>
        <td>65–75 mg</td>
        <td>65–75 mg</td>
      </tr>
      <tr>
        <td>Adults (19 and older)</td>
        <td>90 mg</td>
        <td>75 mg</td>
      </tr>
      <tr>
        <td>Pregnant</td>
        <td>-</td>
        <td>85 mg</td>
      </tr>
      <tr>
        <td>Breastfeeding</td>
        <td>-</td>
        <td>120 mg</td>
      </tr>
    </table>
      <div class="endTag">
        <p>100 gms of orange contains <i>53.2 mg</i> of VITAMIN C ,a normal sized orange weighs around 130 to 170 grams.</p>
      </div>
        <div class="lines"></div>
    </div>
      <div class=" item-type">
    <h5>VITAMIN E</h5>
    <p>Like vitamin C, vitamin E can be a powerful antioxidant that helps your body fight off infection.</p>
    <p>To increase your vitamin E intake, add these foods to your diet.</p>
    <ul>
      <li>almonds</li>
      <li>sunflower seeds</li>
      <li>peanut butter</li>
      <li>spinach</li>
    </ul>
    <table class="customers">
      <p>100 grams of almonds contain 25.63 </p>
      <tr>
        <th>Category</th>
        <th>Male</th>
        <th>Female</th>
      </tr>
      <tr>
        <td>1-3 years</td>
        <td>6 mg/day (9 IU)</td>
        <td>6 mg/day (9 IU)</td>
      </tr>
      <tr>
        <td>4-8 years</td>
        <td>7 mg/day (10.4 IU)</td>
        <td>7 mg/day (10.4 IU)</td>
      </tr>
      <tr>
        <td>9-13 years</td>
        <td>11 mg/day (16.4 IU)</td>
        <td>11 mg/day (16.4 IU)</td>
      </tr>
      <tr>
        <td>14 years and up</td>
        <td>15 mg/day (22.4 IU)</td>
        <td>15 mg/day (22.4 IU)</td>
      </tr>
      <tr>
        <td>Pregnant</td>
        <td>-</td>
        <td>15 mg/day (22.4 IU)</td>
      </tr>
      <tr>
        <td>Breastfeeding</td>
        <td>-</td>
        <td>19 mg/day (28.5 IU)</td>
      </tr>
    </table>
        <div class="endTag">
          <p>100 gms of Almonds contains <i>25.63 mg</i> of VITAMIN E</p>
        </div>
          <div class="lines"></div>
      </div>
    <div class=" item-type">
    <h5>ZINC</h5>
    <p>Zinc is an essential mineral involved in the production of certain immune cells.﻿ Here are some top food sources of zinc:</p>
     <ul>
       <li>oysters</li>
       <li>baked beans</li>
       <li>cashews</li>
       <li>chickpeas</li>
     </ul>
    <table class="customers">
      <tr>
        <th>Category</th>
        <th>Male</th>
        <th>Female</th>
      </tr>
      <tr>
        <td>1-3 years</td>
        <td>3 mg</td>
        <td>3 mg</td>
      </tr>
      <tr>
        <td>4-8 years</td>
        <td>5 mg</td>
        <td>5 mg</td>
      </tr>
      <tr>
        <td>9-13 years</td>
        <td>8 mg</td>
        <td>8 mg</td>
      </tr>
      <tr>
        <td>14-18 years </td>
        <td>11 mg</td>
        <td>9 mg</td>
      </tr>
      <tr>
        <td>19 years and older </td>
        <td>11 mg</td>
        <td>8 mg</td>
      </tr>

      <tr>
        <td>Pregnant</td>
        <td>-</td>
        <td>11 mg</td>
      </tr>
      <tr>
        <td>Breastfeeding</td>
        <td>-</td>
        <td>12 mg</td>
      </tr>
    </table>
      <div class="endTag">
        <p>100 gms of Cashew nuts contains <i>5.6 mg</i> of ZINC</p>
      </div>
        <div class="lines"></div>
    </div>
    <div class=" item-type">
    <h5>VITAMIN A</h5>
    <p>For vitamin A, go colorful. Foods that are high in colorful compounds called
      carotenoids —</p>
    <ul>
      <li>carrots</li>
      <li>sweet potatoes</li>
      <li>papaya</li>
      <li>pumpkin</li>
      <li>cantaloupe</li>
    </ul>
     <p> are all great options. The body turns these carotenoids into vitamin A,
      and they have an antioxidant effect to help strengthen the immune system against infection.</p>
      <table class="customers">
      <tr>
        <th>Category</th>
        <th>Male</th>
        <th>Female</th>
      </tr>
      <tr>
        <td>1-3 years</td>
        <td>300 mcg RAE</td>
        <td>300 mcg RAE</td>
      </tr>
      <tr>
        <td>4-8 years</td>
        <td>400 mcg RAE</td>
        <td>400 mcg RAE</td>
      </tr>
      <tr>
        <td>9-13 years</td>
        <td>600 mcg RAE</td>
        <td>600 mcg RAE</td>
      </tr>
      <tr>
        <td>14-18 years </td>
        <td>900 mcg RAE</td>
        <td>700 mcg RAE</td>
      </tr>
      <tr>
        <td>19 years and older</td>
        <td>900 mcg RAE</td>
        <td>700 mcg RAE</td>
      </tr>
      <tr>
        <td>Pregnant</td>
        <td>-</td>
        <td>770 mcg RAE</td>
      </tr>
      <tr>
        <td>Breastfeeding</td>
        <td>-</td>
        <td>1,300 mcg RAE</td>
      </tr>
    </table>
      <div class="endTag">
        <p> One medium-sized raw carrot, weighing 61 grams (g), contains <i>509 mcg RAE</i> of vitamin A.</p>
      </div>
        <div class="lines"></div>
    </div>
    <div class=" item-type">
    <h5>VITAMIN D</h5>
    <p>It’s best to get most of your vitamins from food, but vitamin D may be the exception to that rule.
      You can increase your intake through foods such as fatty fish (salmon, tuna and sardines) and
      fortified foods such as milk, orange juice and cereals.</p>
    <p>  Many people have a hard time absorbing vitamin D from food, so if you have a vitamin D deficiency, talk to your doctor about supplements.</p>
    <p>The sun is our best natural source of vitamin D.
      Spending even a short time in the sun can provide the body with all of the vitamin D it needs for the day.
      To maintain healthy blood levels, aim to get 10–30 minutes of midday sunlight ,but Your exposure time should depend on how sensitive your skin is to sunlight</p>
    <table class="customers">
      <tr>
        <th>Category</th>
        <th>Adequate intake (Male and Female)</th>
        <th>Tolerable upper intake (Male and Female)</th>
      </tr>
      <tr>
        <td>1-3 years</td>
        <td>600 IU (15 mcg)</td>
        <td>2500 IU (63 mcg)</td>
      </tr>
      <tr>
        <td>4-8 years</td>
        <td>600 IU (15 mcg)</td>
        <td>3000 IU (75 mcg)</td>
      </tr>
      <tr>
        <td>9-70 years</td>
        <td>600 IU (15 mcg)</td>
        <td>4000 IU (100 mcg)</td>
      </tr>
      <tr>
        <td>70+ years </td>
        <td>800 IU (20 mcg)</td>
        <td>4000 IU (100 mcg)</td>
      </tr>
      <tr>
        <td>19 years and older</td>
        <td>600 IU (15 mcg)</td>
        <td>4000 IU (100 mcg)</td>
      </tr>
      <tr>
        <td>Pregnant</td>
        <td>600 IU (15 mcg)</td>
        <td>4000 IU (100 mcg)</td>
      </tr>
      <tr>
        <td>Breastfeeding</td>
        <td>600 IU (15 mcg)</td>
        <td>4000 IU (100 mcg)</td>
      </tr>
    </table>

      <div class="endTag">
        <p>One cup (237 ml) of fortified orange juice with breakfast can start your day off with up to <i>100 IU</i> of vitamin D, or 17% of the Daily value.</p>
        </div>
        <div class="lines"></div>
    </div>
    <div class=" item-type">
    <h5>SELENIUM</h5>
    <p>Selenium is an essential trace mineral that is important for many bodily processes,
      including cognitive function, a healthy immune system</p>
    <p>You can find Selenium in foods like </p>
      <ul>
    <li>garlic</li>
    <li>broccoli</li>
    <li>sardines</li>
    <li>tuna fish</li>
    <li>barley</li>
  </ul>
    <table class="customers">
      <tr>
        <th>Category</th>
        <th>Male</th>
        <th>Female</th>
      </tr>
      <tr>
        <td>1-3 years</td>
        <td>20 mcg</td>
        <td>20 mcg</td>
      </tr>
      <tr>
        <td>4-8 years</td>
        <td>30 mcg</td>
        <td>30 mcg</td>
      </tr>
      <tr>
        <td>9-13 years</td>
        <td>40 mcg</td>
        <td>40 mcg</td>
      </tr>
      <tr>
        <td>14-18 years </td>
        <td>55 mcg</td>
        <td>55 mcg</td>
      </tr>
      <tr>
        <td>19 years and older</td>
        <td>55 mcg</td>
        <td>55 mcg</td>
      </tr>
      <tr>
        <td>Pregnant</td>
        <td>-</td>
        <td>60 mcg</td>
      </tr>
      <tr>
        <td>Breastfeeding</td>
        <td>-</td>
        <td>70 mcg</td>
      </tr>
    </table>
      <div class="endTag">
        <p>100 gms of Garlic contains <i>14.2 mcg</i> of selenium and 100 gms of White Tuna contains 65.7 mcg of selenium.</p>
      </div>
      <div class="lines"></div>
    </div>


    <div class=" item-type">
    <h5>IRON</h5>
    <p>Iron helps your body carry oxygen to cells, comes in different forms. Your body can more easily absorb “heme iron,” which is abundant in lean poultry such as</p>
    <ul>
      <li>red meat</li>
      <li>turkey</li>
      <li>plus seafood</li>
    </ul>
    <p>For vegetarians you can get other forms of iron in </p>
      <ul>
    <li>beans</li>
    <li>broccoli</li>
    <li>Spinach</li>
    <li>kale</li>

  </ul>
    <table class="customers">
      <tr>
        <th>Category</th>
        <th>Male</th>
        <th>Female</th>
      </tr>
      <tr>
        <td>1-3 years</td>
        <td>7 mg</td>
        <td>7 mg</td>
      </tr>
      <tr>
        <td>4-8 years</td>
        <td>10 mg</td>
        <td>10 mg</td>
      </tr>
      <tr>
        <td>9-13 years</td>
        <td>8 mg</td>
        <td>8 mg</td>
      </tr>
      <tr>
        <td>14-18 years </td>
        <td>11 mg</td>
        <td>15 mg</td>
      </tr>
      <tr>
        <td>19-50 years </td>
        <td>8 mg</td>
        <td>18 mg</td>
      </tr>
      <tr>
        <td>51+years </td>
        <td>8 mg</td>
        <td>8 mg</td>
      </tr>
      <tr>
        <td>Pregnant</td>
        <td>-</td>
        <td>27 mg</td>
      </tr>
      <tr>
        <td>Breastfeeding</td>
        <td>-</td>
        <td>9 mg</td>
      </tr>
    </table>
      <div class="endTag">
        <p>100 gms of raw spinach contain <i>2.7 mg</i> of iron and 100 gms of red meat contains 2.7 mg of iron.</p>
      </div>
      <div class="lines"></div>
    </div>

  </div>

</div>
