

<div class="main-container">

  <div class="signup">
    <form  [formGroup]="signupForm" (ngSubmit)="onSignUp()" >

      <fieldset>
        <div>

          <h1 class=" pull-center"> Sign Up</h1>
          <div class="form-group">
            <input type="text"  id="username" class="form-control input-lg"
                   placeholder="username"
                   formControlName="username"
                   pattern=".{6,}"
                   [(ngModel)]="nameCheck"
                     (input)="searchName(nameCheck)"
                   required
            ><div *ngIf="signupForm.controls['username'].valid && userFound == 2" class="spinner-border text-primary" role="status"
          style="width: 20px;height: 20px;margin-left:15px;margin-top: 10px;">

            <span class="sr-only">Loading...</span>
          </div>
            <p *ngIf="signupForm.controls['username'].valid && userFound == 1" style="font-size:14px;color: red;margin-left: 10px;margin-top: 8px;">Username taken</p>
            <p *ngIf="signupForm.controls['username'].valid && userFound == 0" style="font-size:14px;color: green;margin-left: 10px;margin-top: 8px;">Available </p>
            <span class="text-muted"  style="color: red;" *ngIf="!signupForm.controls['username'].valid && signupForm.controls['username']?.touched"> Please enter a valid username of atleast 6 charcters</span>
          </div>

          <div class="form-group">
            <input type="email"  id="email" class="form-control input-lg" placeholder="Email Address"
                   formControlName="email"
                   [(ngModel)]="emailCheck"
                   (input)="searchEmail()"
                   required
                   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"

            >
            <div *ngIf="signupForm.controls['email'].valid && emailFound == 2" class="spinner-border text-primary" role="status"
                 style="width: 20px;height: 20px;margin-left:15px;margin-top: 10px;">

              <span class="sr-only">Loading...</span>
            </div>
            <p *ngIf="signupForm.controls['email'].valid && emailFound == 1" style="font-size:14px;color: red;margin-left: 10px;margin-top: 8px;">Email taken</p>
            <p *ngIf="signupForm.controls['email'].valid && emailFound == 0" style="font-size:14px;color: green;margin-left: 10px;margin-top: 8px;">Available </p>
            <span class="text-muted" style="color: red;" *ngIf="!signupForm.controls['email'].valid && signupForm.controls['email']?.touched"> Please enter a valid email</span>

          </div>

          <div class="form-group">
            <input type="password" id="password" class="form-control input-lg" placeholder="Password"
                   formControlName="pwd"
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    (input)="passwordCheck()"
                   required
            >
            <span class="text-muted" style="color: red;" *ngIf="!signupForm.controls['pwd'].valid && signupForm.controls['pwd']?.touched"> Password Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</span>

          </div>
          <div class="form-group">
            <input type="password"  id="password2" class="form-control input-lg" placeholder="Password2"
                   formControlName="cpwd"

                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  (input)="passwordCheck()"
                   required
            >

            <p  *ngIf="passCheck == true && signupForm.controls['pwd'].valid && signupForm.controls['pwd']?.touched && signupForm.controls['cpwd']?.touched"
                  style="font-size:14px;margin-left: 10px;margin-top: 10px;color: green" > Matched</p>
            <p  style="color: red;" *ngIf="passCheck == false && signupForm.controls['pwd'].valid && signupForm.controls['pwd']?.touched && signupForm.controls['cpwd']?.touched"
               style="font-size:14px;margin-left: 10px;margin-top: 10px;color: red" >Not Matched</p>
          </div>
          <div class="gender form-group group radio-btns " style="margin-left: 8px" >
            <label class="radio inline" style="margin-right: 5px;" >Gender:</label>


              <input type="radio" id="liq" name="gender" value="male"  formControlName="gender">
              <label for="liq">Male</label>
              <input type="radio" id="nut" name="gender" value="female"  formControlName="gender">
              <label for="nut">Female</label>

            <span class="text-muted" style="color: red;" *ngIf="!signupForm.controls['gender'].valid && signupForm.controls['gender']?.touched"> Please select Gender.</span>
          </div>
          <div class="dob form-group">
            <label style="margin-right: 10px; margin-left: 8px;">Date of Birth:</label>
            <input id="datefield" type="date" name="dob" min="1920-01-01" max="2020-01-01" formControlName="dob" required>
            <span class="text-muted" style="color: red;" *ngIf="!signupForm.controls['dob'].valid && signupForm.controls['dob']?.touched"> Please select DOB.</span>
          </div>

        </div>
        <div class="weight form-group">
          <input type="text" id="weight" class="form-control input-lg" placeholder="weight"
                 formControlName="weight"

                 required
          >
        </div>
        <div class=" height form-group">
          <input type="text" id="feet" class="form-control input-lg" placeholder="feet"
                   formControlName="feet"

                   required
        >
          <input type="text" id="inch" class="form-control input-lg" placeholder="inches"
                 formControlName="inch"

                 required
          >
        </div>

        <div>
          <button type="submit" class="btn btn-success" [disabled]="!signupForm.valid" style="margin-top: 20px" > Submit</button>
        </div>
        <p *ngIf="signUpStatus == true" style="color: #1fd302;text-align: center">Sign up Completed ,A verification Email has been sent to your Email.</p>
        <p *ngIf="signUpStatus == false" style="color: red;text-align: center">Username or Email already taken.</p>
      </fieldset>
    </form>


  </div>

  <!--<div class="login">-->

    <!--<form  [formGroup]="loginForm" (ngSubmit)="onLogin()" >-->

      <!--<fieldset>-->
        <!--<h1 class=" pull-center" style="color: #006600"> Login </h1>-->

        <!--<div class="form-group">-->
          <!--<input type="email" id="lusername" class="form-control input-lg" placeholder="username or email"-->
                 <!--formControlName="username"-->

                 <!--required-->
          <!--&gt;-->
          <!--<span class="text-muted" *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username']?.touched"> Please enter a valid username</span>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<input type="password" id="lpassword" class="form-control input-lg" placeholder="Password"-->
                 <!--formControlName="pwd"-->

                 <!--required-->
          <!--&gt;-->
          <!--<span class="text-muted" *ngIf="!loginForm.controls['pwd'].valid && loginForm.controls['pwd']?.touched"> Please enter a valid Password</span>-->
        <!--</div>-->
        <!--&lt;!&ndash;<span *ngIf="!loginStatus" style="color: red;font-family: 'Lobster', 'cursive';"> Invalid Credentials </span>&ndash;&gt;-->
        <!--<div>-->
          <!--<button type="submit" class="btn btn-lg btn-success" [disabled]="!loginForm.valid" value="Sign In">Sign In</button>-->
        <!--</div>-->

        <!--<p *ngIf="falseStatus == true" style="text-align: center;color: #ff7f6a">Invalid Credentials</p>-->
        <!--<p *ngIf="falseStatus == false" style="text-align: center;color: #00b000">Valid Credentials</p>-->
        <!--<a *ngIf="falseStatus == true" style="color: blue; text-decoration: underline;cursor: pointer;" (click)="forgotPassword()">forgot password ?</a>-->
        <!--<div class="verification" *ngIf="verification == false" >-->
          <!--<p>Your Account isn't Verified</p>-->
          <!--<p><i (click)="verifyAccount()">Click Here </i> for Verification Process</p>-->
          <!--<p style="margin-top: 30px"><i (click)="moveToHomepage()">Click Here </i> to skip verification process and Continue to Home page</p>-->
        <!--</div>-->

      <!--</fieldset>-->
    <!--</form>-->

  <!--</div>-->


</div>



<script>
  let today = new Date();
  let dd = today.getDate();
  let mm = today.getMonth()+1; //January is 0!
  let yyyy = today.getFullYear();
  if(dd<10){
    dd='0'+dd
  }
  if(mm<10){
    mm='0'+mm
  }

  today = yyyy+'-'+mm+'-'+dd;
  document.getElementById("datefield").setAttribute("max", today);
</script>
