body{

}

.main-container{
  width: 100%;
  background: #008000;
  background-size: cover;


  min-height: 100vh;

  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
}

.confirmation{
  width: 30%;

  padding: 30px;
  margin-top: 220px;
  margin-left: 35%;
  margin-bottom: 20%;
  background: white;
}
@media screen and (max-width: 500px) {
.confirmation{
margin-left: 5%;
  width:90%;
}

}
