<body>
<div class="main-container">
  <div class="confirmation">
    <form [formGroup]="confirmationForm" (ngSubmit)="onConfirmationEmail()" >
      <div class="email">
        <input type="email"  id="email" class="form-control input-lg" placeholder="Email Address"
               formControlName="email"

               required
               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        >
        <span class="text-muted" style="color: red;" *ngIf="!confirmationForm.controls['email'].valid && confirmationForm.controls['email']?.touched"> Please enter a valid email</span>

      </div>
      <div>
        <button type="submit" class="btn btn-success" [disabled]="!confirmationForm.valid" style="margin-top: 20px" > Send Confirmation Mail</button>
      </div>
      <p *ngIf="confirmation == true" style="color: #1fd302; font-size: 16px;">{{message}}</p>
      <p *ngIf="confirmation==false" style="color: #d3413f; font-size: 16px;">{{message}}</p>
    </form>

    <form [formGroup]="verificationForm" (ngSubmit)="onCheckCode()" *ngIf="confirmation==true">
      <div class="email">
        <input type="key"  id="key" class="form-control input-lg" placeholder="Verification Code"
               formControlName="key"

               required
        >
        <span class="text-muted" style="color: red;" *ngIf="!verificationForm.controls['key'].valid && verificationForm.controls['key']?.touched"> Please enter the verification code.</span>

      </div>
      <div style="margin-top: 10px">
        <button type="submit" class="btn btn-success" [disabled]="!verificationForm.valid">Check Code</button> <button class="btn btn-primary" style="margin-left: 15px" (click)="resendMail()">Resend Code</button>
      </div>
      <p *ngIf="verification==true" style="color: #1fd302; font-size: 16px;">{{message1}}</p>
      <p *ngIf="verification==false" style="color: red; font-size: 16px;">{{message1}}</p>
    </form >



    <form [formGroup]="passwordChangeForm" (ngSubmit)="onChangePassword()" *ngIf="verification==true" >
      <div class="form-group">
        <input type="password" id="password" class="form-control input-lg" placeholder="Password"
               formControlName="pwd"
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"

               required
        >
        <span class="text-muted" style="color: red;" *ngIf="!passwordChangeForm.controls['pwd'].valid && passwordChangeForm.controls['pwd']?.touched"> Password Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</span>

      </div>
      <div class="form-group">
        <input type="password"  id="password2" class="form-control input-lg" placeholder="Password2"
               formControlName="cpwd"
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"

               required
        >
      </div>
        <button type="submit" class="btn btn-success" [disabled]="!passwordChangeForm.valid">Change Password</button>
        <p style="text-align: center;color: #1fd302" *ngIf="pwdSaved == 1">Password Saved</p>
    </form>

  </div>
</div>
</body>

